# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
.vscode/*
/documentation/docs/tools
documentation/report.md
gamemode/modules/medals/changelog.md
gamemode/modules/medals/commands/client.lua
gamemode/modules/medals/commands/server.lua
gamemode/modules/medals/config/shared.lua
gamemode/modules/medals/items/base/medal.lua
gamemode/modules/medals/libraries/client.lua
gamemode/modules/medals/libraries/server.lua
gamemode/modules/medals/libraries/shared.lua
gamemode/modules/medals/medals.lua
gamemode/modules/medals/module.lua
gamemode/modules/medals/README.md
*.bat
