.parameter,
.types {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1em;
    display: inline-block;
    line-height: 1.4;
    border-radius: 0.2rem;
    vertical-align: baseline;
}

.parameter {
    background: rgba(0, 150, 136, 0.25);
    color: var(--md-default-fg-color);
}

.types {
    background: rgba(179, 136, 255, 0.28);
    color: var(--md-default-fg-color);
}

.optional {
    display: inline-block;
    font-size: 1em;
    font-style: italic;
    opacity: 0.75;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.types a.type {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
}

.types a.type:hover {
    text-decoration: underline;
}

.realm-client > summary,
.realm-shared > summary,
.realm-server > summary {
    font-size: 1em;
}

.md-typeset details.realm-client,
.md-typeset details.realm-shared,
.md-typeset details.realm-server {
    border-color: rgb(70, 169, 255);
    border: 1px solid;
    border-radius: 0.35rem;
    overflow: hidden;
}

.md-typeset details.realm-client > summary,
.md-typeset details.realm-shared > summary,
.md-typeset details.realm-server > summary {
    background-color: rgba(70, 169, 255, 0.1);
}

.md-typeset details.realm-server > summary::before {
    content: "";
    -webkit-mask-image: none;
    mask-image: none;
    background-image: url("../assets/server.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    background-color: rgba(255, 255, 255, 0);
    display: inline-block;
    width: calc(0.75em + 0.375rem);
    height: calc(0.75em + 0.375rem);
    margin-right: 0.55em;
    vertical-align: middle;
}

.md-typeset details.realm-shared > summary::before {
    content: "";
    -webkit-mask-image: none;
    mask-image: none;
    background-image: url("../assets/shared.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    background-color: rgba(255, 255, 255, 0);
    display: inline-block;
    width: calc(0.75em + 0.375rem);
    height: calc(0.75em + 0.375rem);
    margin-right: 0.55em;
    vertical-align: middle;
}

.md-typeset details.realm-client > summary::before {
    content: "";
    -webkit-mask-image: none;
    mask-image: none;
    background-image: url("../assets/client.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    background-color: rgba(255, 255, 255, 0);
    display: inline-block;
    width: calc(0.75em + 0.375rem);
    height: calc(0.75em + 0.375rem);
    margin-right: 0.55em;
    vertical-align: middle;
}

.realm-client > h3,
.realm-shared > h3,
.realm-server > h3 {
    font-size: 1em;
    border: 1px solid;
    border-image-source: linear-gradient(to left, rgba(179, 136, 255, 0.9), rgba(0, 150, 136, 0.9));
    border-image-slice: 1;
    border-width: 2px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin-top: 1em;
    padding-bottom: 0.15em;
}

.md-typeset details {
    font-size: 1em;
}
